@import "tailwindcss";

@theme {
  /* Grey Colors */
  --color-grey-950: hsl(255, 22%, 4%); /* #08070B */
  --color-grey-900: hsl(248, 17%, 9%); /* #14131B */
  --color-grey-850: hsl(248, 15%, 11%); /* #18171F */
  --color-grey-800: hsl(248, 10%, 15%); /* #24232C */
  --color-grey-700: hsl(248, 5%, 34%); /* #54535B */
  --color-grey-600: hsl(251, 9%, 53%); /* #817D92 */
  --color-grey-200: hsl(252, 11%, 91%); /* #E6E5EA */

  /* Green Colors */
  --color-green-200: hsl(127, 100%, 82%); /* #A4FFAF */

  /* Yellow Colors */
  --color-yellow-300: hsl(42, 91%, 68%); /* #F8CD65 */

  /* Orange Colors */
  --color-orange-400: hsl(13, 95%, 66%); /* #FB7C58 */

  /* Red Colors */
  --color-red-500: hsl(0, 91%, 63%); /* #F64A4A */

  /* Gradient */
  --color-gradient-start: hsl(248, 17%, 9%); /* #14131B */
  --color-gradient-end: hsl(255, 22%, 4%); /* #08070B */
}

@utility text-preset-1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

@utility text-preset-3 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

@utility text-preset-4 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}

